USE [Repo-db]
GO
/****** Object:  StoredProcedure [dbo].[pr_ILISKI]    Script Date: 18.08.2018 11:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER  PROCEDURE [dbo].[pr_ILISKI]
(
@MODEL_AD varchar (30),
@NESNE_AD varchar(30),
@VRSN_FLAG int = 0
)
AS

BEGIN

SELECT DISTINCT 
				MODEL.[CODE] AS MODEL_AD, 
				KAYNAK.[OBJT] AS KYNK_ID ,
                KAYNAK.[POID] AS KYNK_KALICI_ID,
				KAYNAK.[BRNC] AS KYNK_DAL_ID,
				KAYNAK.[GOID] AS KYNK_EVRENSEL_ID,
 				KAYNAK.[CODE] AS KYNK_AD,
				KAYNAK.[OCUS] AS KYNK_OLUSTURAN_ID,
				KAYNAK.[OCDT] AS KYNK_OLUS_TARIH,
				KAYNAK.[VRSN] AS KYNK_VRSN,
				KAYNAK.[FRZN] AS KYNK_FRZN_FLAG,
				KAYNAK.[OMDT] AS KYNK_TARIH,



				KAYNAK_INDEX.[OBJT] AS KYNK_ID,
				KAYNAK_INDEX.[OPTS] AS INDEX_OPSIYON,
				KAYNAK_INDEX.[OTYP] AS INDEX_TIPI,
				KAYNAK_INDEX.[UNIQ] AS INDEX_ESSIZ_FLAG,
				
				KAYNAK_TRGR.[OBJT] AS KYNK_ID,
				KAYNAK_TRGR.[MNAM] AS TRIG_METOD,
				KAYNAK_TRGR.[GENE] AS TRIG_GENERATE_FLAG,
				KAYNAK_TRGR.[TEVT] AS TRIG_OLAY,
				KAYNAK_TRGR.[TTIM] AS TRIG_ZAMAN_BILGI,
				KAYNAK_TRGR.[TXTV] AS TRIG_SCRIPT,
				KAYNAK_TRGR.[ORDR] AS TRIG_EMIR,
								
				KAYNAK_REFR.[OBJT] AS KYNK_ID,
				KAYNAK_REFR.[CARD] AS REF_ONEMLILIK,
				KAYNAK_REFR.[CMMT] AS REF_COMMIT,
				KAYNAK_REFR.[CPRT] AS REF_DEGISTIR_FLAG,
				KAYNAK_REFR.[DRUL] AS REF_SIL_CONSTRAINT,
			    KAYNAK_REFR.[FKCN] AS REF_FK_CONSTRAINT_AD,
				KAYNAK_REFR.[GENE] AS REF_GENERATE_FLAG,
				KAYNAK_REFR.[IMPL] AS REF_IMPLE,
				KAYNAK_REFR.[SRTJ] AS REF_SIRALI_JOIN,
				KAYNAK_REFR.[URUL] AS REF_GUNC_CONSTRAINT,
				KAYNAK_REFR.[CROL] AS REF_CHILD_ROL ,
				KAYNAK_REFR.[PROL] AS REF_PARENT_ROL,

				KAYNAK_VIEW.[OBJT] AS KYNK_ID,
     			KAYNAK_VIEW.[DTYP] AS VIEW_BOYUT_TIPI ,
				KAYNAK_VIEW.[FOOT] AS VIEW_SCRIPT_ALTBILGI,
				KAYNAK_VIEW.[GENE] AS VIEW_GENERATE_FLAG,
				KAYNAK_VIEW.[HEAD] AS VIEW_SCRIPT_USTBILGI,
				KAYNAK_VIEW.[OPTS] AS VIEW_OPSIYON,
				KAYNAK_VIEW.[TSQL] AS VIEW_TAGLI_SQL,
				KAYNAK_VIEW.[TTYP] AS VIEW_TIPI,
				KAYNAK_VIEW.[USAG] AS VIEW_KULLANIM,
				KAYNAK_VIEW.[USQL] AS VIEW_KULL_TANIM ,
				KAYNAK_VIEW.[VSQL] AS VIEW_SQL,
				KAYNAK_VIEW.[XELT] AS VIEW_XML_ELEMENT,
				KAYNAK_VIEW.[XSCH] AS VIEW_XMK_SEMA,


				ILISKI.[TRGT] AS HEDEF_ID,
				HEDEF.[POID] AS HEDEF_KALICI_ID,
		        HEDEF.[BRNC] AS HEDEF_DAL_ID,
				HEDEF.[GOID] AS HEDEF_EVRENSEL_ID,
				HEDEF.[CODE] AS HEDEF_AD,
				SINIF.[CODE] AS HEDEF_SINIF,			
				HEDEF.[OCUS] AS HEDEF_OLUSTURAN_ID,
				HEDEF.[OCDT] AS HEDEF_OLUS_TARIH,
				HEDEF.[VRSN] AS HEDEF_VRSN,
				HEDEF.[FRZN] AS HEDEF_FRZN_FLAG,
				HEDEF.[OMDT] AS HEDEF_TARIH,

				HEDEF_INDEX.[OBJT] AS HEDEF_ID,
				HEDEF_INDEX.[OPTS] AS INDEX_OPSIYON,
				HEDEF_INDEX.[OTYP] AS INDEX_TIPI,
				HEDEF_INDEX.[UNIQ] AS INDEX_ESSIZ_FLAG,
				
				HEDEF_TRGR.[OBJT] AS HEDEF_ID,
				HEDEF_TRGR.[MNAM] AS TRIG_METOD,
				HEDEF_TRGR.[GENE] AS TRIG_GENERATE_FLAG,
				HEDEF_TRGR.[TEVT] AS TRIG_OLAY,
				HEDEF_TRGR.[TTIM] AS TRIG_ZAMAN_BILGI,
				HEDEF_TRGR.[TXTV] AS TRIG_SCRIPT,
				HEDEF_TRGR.[ORDR] AS TRIG_EMIR,
								
				HEDEF_REFR.[OBJT] AS HEDEF_ID,
				HEDEF_REFR.[CARD] AS REF_ONEMLILIK,
				HEDEF_REFR.[CMMT] AS REF_COMMIT,
				HEDEF_REFR.[CPRT] AS REF_DEGISTIR_FLAG,
				HEDEF_REFR.[DRUL] AS REF_SIL_CONSTRAINT,
			    HEDEF_REFR.[FKCN] AS REF_FK_CONSTRAINT_AD,
				HEDEF_REFR.[GENE] AS REF_GENERATE_FLAG,
				HEDEF_REFR.[IMPL] AS REF_IMPLE,
				HEDEF_REFR.[SRTJ] AS REF_SIRALI_JOIN,
				HEDEF_REFR.[URUL] AS REF_GUNC_CONSTRAINT,
				HEDEF_REFR.[CROL] AS REF_CHILD_ROL ,
				HEDEF_REFR.[PROL] AS REF_PARENT_ROL,

				HEDEF_VIEW.[OBJT] AS HEDEF_ID,
     			HEDEF_VIEW.[DTYP] AS VIEW_BOYUT_TIPI ,
				HEDEF_VIEW.[FOOT] AS VIEW_SCRIPT_ALTBILGI,
				HEDEF_VIEW.[GENE] AS VIEW_GENERATE_FLAG,
				HEDEF_VIEW.[HEAD] AS VIEW_SCRIPT_USTBILGI,
				HEDEF_VIEW.[OPTS] AS VIEW_OPSIYON,
				HEDEF_VIEW.[TSQL] AS VIEW_TAGLI_SQL,
				HEDEF_VIEW.[TTYP] AS VIEW_TIPI,
				HEDEF_VIEW.[USAG] AS VIEW_KULLANIM,
				HEDEF_VIEW.[USQL] AS VIEW_KULL_TANIM ,
				HEDEF_VIEW.[VSQL] AS VIEW_SQL,
				HEDEF_VIEW.[XELT] AS VIEW_XML_ELEMENT,
				HEDEF_VIEW.[XSCH] AS VIEW_XML_SEMA


FROM  PMOBJT KAYNAK 
      INNER JOIN  PMRLSH ILISKI ON  KAYNAK.OBJT = ILISKI.SRCE 
      INNER JOIN  PMOBJT HEDEF  ON  HEDEF.OBJT = ILISKI.TRGT
	  INNER JOIN  PMCLSS SINIF ON   SINIF.CLSS = HEDEF.CLSS 
	  INNER JOIN  PMOBJT MODEL ON   MODEL.CODE = @MODEL_AD 
	  INNER JOIN  PMCLSS MODEL_SINIF ON  MODEL_SINIF.CODE = 'MODEL'
	  LEFT OUTER JOIN PMPDMINDX KAYNAK_INDEX ON KAYNAK.OBJT = KAYNAK_INDEX.OBJT
	  LEFT OUTER JOIN PMPDMTRGR KAYNAK_TRGR ON  KAYNAK.OBJT = KAYNAK_TRGR.OBJT
	  LEFT OUTER JOIN PMPDMREFR KAYNAK_REFR ON  KAYNAK.OBJT = KAYNAK_REFR.OBJT
	  LEFT OUTER JOIN PMPDMVIEW KAYNAK_VIEW ON  KAYNAK.OBJT = KAYNAK_VIEW.OBJT  
	  LEFT OUTER JOIN PMPDMINDX HEDEF_INDEX ON HEDEF.OBJT = HEDEF_INDEX.OBJT
	  LEFT OUTER JOIN PMPDMTRGR HEDEF_TRGR ON HEDEF.OBJT = HEDEF_TRGR.OBJT
	  LEFT OUTER JOIN PMPDMREFR HEDEF_REFR ON HEDEF.OBJT = HEDEF_REFR.OBJT
	  LEFT OUTER JOIN PMPDMVIEW HEDEF_VIEW ON HEDEF.OBJT = HEDEF_VIEW.OBJT

WHERE KAYNAK.NAME = @NESNE_AD 
  AND(KAYNAK.[OMDT] = (SELECT MAX ([OMDT]) FROM (SELECT * FROM PMOBJT WHERE [NAME]=@NESNE_AD) AS VRSN_TABLO) OR @VRSN_FLAG = 0) 
 
ORDER BY KAYNAK.[OBJT], KAYNAK.[VRSN], HEDEF.[CODE], HEDEF.[VRSN] 
END